@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.card-img img {
  margin: 0;
}

.card-img {
  display: block;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

.card-body h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1.5rem 0 0 0;
}

.card-body p {
  font-weight: lighter;
  margin: 0 0 1.5rem 0;
}

.card {
  margin-bottom: 0;
}

.cards {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 110%
  }

  .card {
    margin-bottom: 1rem;
  }

  .card-img {
    display: inline-block;
    margin-right: 1rem;
  }

  .card-body {
    display: inline-block;
  }



}
